
# The domain the application will listen on
HOST=www.example.com

# Path to image files
ROI_PATH=/mnt/data_files

# Version tag for PostgreSQL image
POSTGRES_TAG=14-alpine

# PostgreSQL database credentials
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Location to store PostgreSQL database files
POSTGRES_DATA_PATH=/srv/postgresql/data

# Location of SSL certificate files
SSL_CERT=/etc/ssl/example.crt
SSL_KEY=/etc/ssl/example.key

# Location for logs
LOG_PATH=./logs