
# The domain the application will listen on
HOST=www.example.com

# Ports that will be exposed externally from the docker containers
HTTP_PORT=80
HTTPS_PORT=443

# Proxy support if the server the application is being hosted on requires it. These can be left blank
HTTP_PROXY="http://proxy.example.com:1234"
HTTPS_PROXY="http://proxy.example.com:1234"

# Path to image files
ROI_PATH=/mnt/data_files

# Version tag for PostgreSQL image
POSTGRES_TAG=14-alpine

# Location to store PostgreSQL database files
POSTGRES_DATA_PATH=/srv/postgresql/data

# Internal network name to use for all docker containers. Useful if there will be more than one copy
#   of the application on a single server
DOCKER_NETWORK=photic

# Location of SSL certificate files
SSL_CERT=/etc/ssl/example.crt
SSL_KEY=/etc/ssl/example.key
