{% extends 'base.html' %}

{% block content %}
<div id="tag-holder">
    <div class="triangle"></div>
    <div class="roi_id"><span></span></div>
    <table>
    </table> 
</div>
<div class="grid-x height-100">
    <div class="large-2 cell shadow lightBg" id="leftCol">
        <div class="height-100 off-canvas position-left in-canvas-for-large" style="z-index:999" id="filterColumn" data-off-canvas>
            <div class="grid-y grid-frame grid-padding-x align-middle">
                <div class="cell shrink margin-vertical-1">
                    <div class="grid-x align-center align-middle">
                        <div class="callout width-100 text-center small primary margin-bottom-0" id="roi_count" style="display:none">
                            <h5>{{ roi_count }} ROI(s) found</h5>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <label for="image-scale" style="display:inline-block;"  >
                        Scale
                        <select id="image-scale" style="width:65px">
                            <option value="2">200%</option>
                            <option value="1.75">175%</option>
                            <option value="1.5">150%</option>
                            <option value="1.25">125%</option>
                            <option value="1" selected>100%</option>
                            <option value=".75">75%</option>
                            <option value=".5">50%</option>
                            <option value=".25">25%</option>
                        </select>
                    </label>
                    <form id="skip-form" style="display:inline-block;" >
                        <input id="skip-to-page" type="number" min="1" style="width:65px; display:inline-block;">
                        <input type="submit" disabled="disabled" class="button small primary expanded" value="Skip to page" id="skip-to-page-submit" style="display:inline-block;width:auto;margin:0;">
                    </form>
                </div>
                <div class="cell auto" style="overflow-y:auto;">
                    {% include 'components/filter-form.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="cell large-auto height-100">
        <div class="grid-y grid-frame">
            <div class="cell" id="main-panel">
                <div id="roi-container-wrapper">
                    <div id="roi-container">
                        <h2 style="text-align:center;margin-top:10%; position:relative;">Please choose an image collection and category to view and annotate images</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% csrf_token %}
{% endblock %}

{% block scripts %}
{% endblock %}