{% extends 'base.html' %}

{% block content %}
<div id="tag-holder">
    <div class="triangle"></div>
    <div class="roi_id"><span></span></div>
    <table>
    </table> 
</div>
<div class="grid-x height-100">
    <div class="large-2 cell shadow lightBg" id="leftCol">
        <div class="height-100 off-canvas position-left in-canvas-for-large" style="z-index:999" id="filterColumn" data-off-canvas>
            <div class="grid-y grid-frame grid-padding-x align-middle">
                <div class="cell shrink margin-vertical-1">
                    <div class="grid-x align-center align-middle">
                        <div class="callout width-100 text-center small primary margin-bottom-0" id="roi_count" style="display:none">
                            <h5>{{ roi_count }} ROI(s) found</h5>
                        </div>
                    </div>
                </div>
                <div class="cell auto" style="overflow-y:auto;">
                    {% include 'components/filter-form.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="cell large-auto height-100">
        <div class="grid-y grid-frame">
            <div class="cell margin-bottom-2 margin-top-1" id="main-panel" style="overflow-y:auto">
                <div id="roi-container">


                </div>
            </div>
        </div>
    </div>
</div>
    {% csrf_token %}
{% endblock %}

{% block scripts %}
{% endblock %}