{% extends 'base.html' %}

{% block content %}
<div id="tag-holder">
    <div class="triangle"></div>
    <table>
    </table> 
</div>
<div class="grid-x height-100">
    <div class="cell shrink shadow hide" data-toggler=".hide" id="left-col-shrunk">
    <button class="button small hollow margin-bottom-0" id="left-col-expand-button" data-toggle="leftCol left-col-shrunk"><i class="fas fa-angle-double-right"></i></button>
    </div>

    <div class="large-2 cell shadow lightBg" data-toggler=".hide" id="leftCol">
        <div class="off-canvas position-left height-100" id="filterColumn" data-off-canvas
            data-options="inCanvasOn:large;" style="z-index:999">
            <div class="grid-y grid-frame grid-padding-x align-middle">
                <div class="cell shrink margin-bottom-1" style="border-bottom:2px solid #efefef;">
                    <div class="grid-x align-justify align-middle margin-vertical-1">
                    <h2 id="formTitle" class="margin-bottom-0">Menu</h2>
                        <button id="left-col-collapse" class="button primary small hollow margin-bottom-0 show-for-large" data-toggle="leftCol left-col-shrunk"><i class="fas fa-angle-double-left"></i></button>
                    </div>
                </div>
                <div class="cell auto" style="overflow-y:auto;">
                    {% include 'components/filter-form.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="cell auto">
        <div class="grid-y grid-frame" style="overflow:visible" >
            <div class="cell auto margin-bottom-2 margin-top-1" id="main-panel">
                <div class="imageContainer">
                    <div class="grid-x grid-padding-x">
                        
                        <div class="cell">
                        <div class="callout primary bold">
                            <h5><b>{{ roi_count }} ROI(s) Matching Selected Filters</b></h5>
                        </div>
                            <div class="bricks-container">
                                {% for roi in rois %}
                                    {% autoescape off %}
                                    <img class="image-tile" data-tags='{{ roi.tags }}' src="{{ roi.path }}">
                                    {% endautoescape %}
                                {% endfor %}
                            </div>
                        </div>
                       
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    {% csrf_token %}
{% endblock %}

{% block scripts %}
{% endblock %}