
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title">Filter</a>
          <div class="accordion-content" data-tab-content>  
            <form id="filter-form">            
              <div class="cell">
                <label class="margin-bottom-1">Image Collection
                  <select id="filter-collection" class="largeOptionSetSelection" style="width:100%">
                      {% for collection in collections %}
                      <option value="{{ collection.name }}" {% if collection.name == request.GET.collection  %} selected {% endif %}>{{ collection.name }}</option>
                      {% endfor %}
                  </select>
                </label>
                <label class="margin-bottom-1">Label
                  <select id="filter-label" class="largeOptionSetSelection" style="width:100%">
                    <option value="">All</option>
                      <option value="unlabeled" {% if "label.name" == request.GET.label  %} selected {% endif %}>unlabeled</option>
                    {% for label in all_labels %}
                    <option value="{{label.name}}" {% if label.name == request.GET.label  %} selected {% endif %}>{{label.name}}</option>
                    {% endfor %}
                  </select>
                </label>
                <label for="labels_only_collection" class="text-right">Show only labels in collection            
                    <input type="checkbox" id="labels_only_collection" checked>
                </label>
                <label class="hide">Annotator
                  <select id="filter-annotator" class="largeOptionSetSelection" style="width:100%">
                    <option value="">All</option>
                    {% for annotator in annotation_users %}
                    <option value="{{annotator.username}}" {% if annotator.username == request.GET.annotator  %} selected {% endif %}>{{annotator.username}}</option>
                    {% endfor %}
                  </select>
                </label>
                <label>Sort By
                  <select id="filter-sortby" style="width:100%">
                    <option value="HEIGHT_ASC">&#9650; Height</option>
                    <option value="HEIGHT_DESC" selected>&#9660; Height</option>
                    <!--option value="ROI_ID_ASC">&#9650; ROI ID</option-->
                    <option value="ROI_ID_DESC">&#9660; ROI ID</option>
                  </select>
                </label>        
              </div>            
              <div class="cell hide">
                <label>Before
                  <input type="text" id="filter-before-date" placeholder="Start Date" disabled>
                </label>
              </div>
              <div class="cell hide">
                <label>After
                  <input type="text" id="filter-after-date" placeholder="End Date" disabled>
                </label>
              </div>
              <div class="cell shrink margin-vertical-1 padding-top-1" style="border-top:2px solid #efefef;">
                  <button class="button small primary expanded margin-0" id="filter-button" ><i class="fas fa-filter"></i> Filter</button>
              </div>            
            </form>
          </div>
        </li>
      </ul>    
    </div> 
    <div class="cell">
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title">Actions</a>
          <div class="accordion-content" data-tab-content>      
            
            {% if user.is_authenticated %}    
            
            <form id="apply-label-form" data-abide> 
                <label>Assign Label</label>
                <div class="">
                  <select class="largeOptionSetSelection" id="apply_label_select" style="width:100%">
                      <option value="">- Select a Label -</option>
                      {% for label in labels %}
                      <option value="{{label.name}}">{{label.name}}</option>
                      {% endfor %}
                  </select>
                              
                  <label for="apply_label_hide" class="text-right">Hide            
                      <input type="checkbox" id="apply_label_hide" checked>
                  </label>
                  <input type="submit" class="button small primary expanded" id="apply_label" value="Apply">
                </div>   
            </form>

            <form id="add-label-form" data-abide>
                <label>Create New Label</label>
                <div class="">
                  <input type="text" class="margin-top-0" id="add_label_text" pattern="alpha_numeric_score_space" value="" >
                  <span data-abide-error  data-form-error-on="pattern" class="form-error" style="margin-top:0">
                    Labels must be alphanumeric, [underscore], or [space]
                  </span>
                  <input type="submit" class="button small primary expanded" id="add_label" value="Add Label">
                </div>
              {% else %}
                To annotate images, please <a href="{% url 'manage:login' %}">login</a>.
              {% endif %}
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>