<footer class="footer-container" id="footercontainer">
    <div class="footer-row grid-x grid-padding-x align-justify align-middle">
      <div class="footer-left medium-8 cell">
          <div class="contact-details">
            <p>Copyright © 2021 Woods Hole Oceanographic Institution. 266 Woods Hole Road, Woods Hole, MA 02543-1050 U.S.A. All Rights Reserved.
            </p>
          </div>
       </div>
      <div class="footer-right medium-4 cell text-right">
          <div class="contact-details">
        <p>(508) 548-1400 | Website inquiries: webdev@whoi.edu | Media inquiries: media@whoi.edu</p>
    </div>
      </div>
    </div>
    </footer>
  
  