{%  load static %}
<div class="title-bar hide-for-large align-middle">
    <div class="title-bar-title">
        <a href="{% url 'web:index' %}?{{ request.GET.urlencode }}"><h1 class="margin-0"><b> <i class="fas fa-expand" aria-hidden="true"></i> PHOTIC</b></h1></a>
    </div>
    <div class="title-bar-right">
          <button type="button" class="button hide-for-large margin-0" data-toggle="filterColumn">
            <span class="search-icon"></span>
          </button>
          <button type="button" class="button hide-for-large margin-0" data-toggle="offCanvasMenu"><span class="hamburgermenu-icon"></span></button>
    </div>
  </div>
<div class="top-bar show-for-large">
    <div class="top-bar-title">
        <a href="{% url 'web:index' %}?{{ request.GET.urlencode }}"><h1 class="margin-0"><b> <i class="fas fa-expand" aria-hidden="true"></i> PHOTIC</b></h1></a>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>    
          <li><a href="{% url 'web:index' %}?{{ request.GET.urlencode }}">Home</a></li>
          {% if user.is_staff %}        
          <li class="is-dropdown-submenu-parent">
            <a href="{% url 'manage:index' %}">Admin</a>
            <ul class="menu">
                <li><a href="{% url 'manage:users' %}">User Management</a></li>
              </li>
            </ul>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
              <li><a href="{% url 'profile' %}">Profile</a></li>
              <li><a href="{% url 'manage:logout' %}">Logout</a></li>
          {% else %}
              <li><a href="{% url 'manage:login' %}">Login</a></li>
          {% endif %}
        </ul>        
      </div>    
  </div>
  