<button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
<div class="grid-x mobileNavHeader">
  <div class="cell text-center">
<p class="lead padding-top-1">Menu</p>
</div>
</div>
<div class="margin-top-1">
<ul class="vertical menu drilldown" data-drilldown>
  <li><a href="{% url 'web:index' %}">Annontate</a></li>
  {% if user.is_staff %}
  <li><a href="{% url 'manage:index' %}">Admin</a>
    <ul class="menu vertical nested">
        <li><a href="{% url 'manage:users' %}">User Management</a></li>
    </ul>
  </li>
  {% endif %}
  {% if user.is_authenticated %}
      <li><a href="{% url 'manage:logout' %}">Logout</a></li>
  {% else %}
      <li><a href="{% url 'manage:login' %}">Login</a></li>
  {% endif %}
    
</ul>
</div>