.lightBg{
    background-color:#f8f7f2;
}
.top-bar{
    border-bottom:2px solid $secondary-color;
}
#leftCol{
    z-index:1;
}
#main-panel{
    overflow: visible;
    overflow-y:auto;
    height: 100%;
    img{
        border:5px solid white;
        margin:3px;
        &.selected{
            border:5px solid seagreen;
        }
    }
}

#roi-container-loader{
    text-align: center;
    margin-bottom:5px;
    i{
        color:$primary-color;
    }
}
#roi-container{
    user-select: none;
    position: relative;
}
.page_divider{
    width: 100%;
    height: 50px;
    margin: 10px 0px 0px;
    padding:0px 20px;
    text-align: center;
    font-size: 28px;
    position: relative;
    background-color: #fff;

}
.page_divider>div{
    background-color: #fff;
    width: auto;
    display: inline-block;
    z-index: 3;
    padding: 0 20px 0 20px;
    color: $primary-color;
    position: relative;
    // font-weight: lighter;
    margin: 0;
}
.page_divider:after {
    content: '';
    width: 96%;
    border-bottom: solid 2px $primary-color;
    position: absolute;
    left: 2%;
    top: 40%;
    z-index: 1;
}

.mobileNavHeader{
    background: $secondary-color;
}
.footer-container{
    background: $light-background;
    padding:0.5rem 0.25rem;
}

#left-col-expand-button{
    margin:.5rem;
}

.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 2px solid rgba(98, 155, 255, 0.81);
    border-radius: 0.1em;
}
#tag-holder{
    .roi_id{
        padding: 10px 10px;
        background:$primary-color;
        color:white;
        font-size: 14px;
    }
    table.dataTable{
        margin:0 !important;
    }
    background:white;
    display: none;
    filter: drop-shadow(10px 10px 10px #333333);
    position:absolute;
    z-index:100;
    .triangle{
        position: absolute;
        transform: translate(-50%, -100%);
        left:50%;
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $primary-color;
    }
}

.select2-container--foundation .select2-results__option[aria-disabled=true]{
    color:grey !important;
}